
@{
    ViewData["Title"] = "Create";
}

<h2>Novo Produto</h2>

<form action="/Produto/Cadastra" method="post">

    <div class="form-group mx-sm-3 mb-2">
        <labe for="nome">Nome</labe>
        <input type="text" id="nome" name="produto.Nome" class="form-control"  />
        <small class="text-danger">
            @Html.ValidationMessage("produto.Nome")
        </small>
    </div>


    <div class="form-group mx-sm-3 mb-2">
        <labe for="descricao">Descrição</labe>
        <input type="text" id="descricao" name="produto.Descricao" class="form-control" />
        <small class="text-danger">
            @Html.ValidationMessage("produto.Descricao")
        </small>
    </div>

    <div class="form-group mx-sm-3 mb-2">
        <labe for="preco">Preço</labe>
        <input type="text" id="preco" name="produto.Preco" class="form-control" />
        <small class="text-danger">
            @Html.ValidationMessage("produto.Preco")
        </small>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar </button>

    <br>  <br> 

    <small class="text-success">
        @ViewBag.Message
    </small>

</form>

<br>

@Html.ActionLink("Voltar", "Index", "Produto")

